.bg-header{
    background-color: white;
    position: fixed;
    width: 100%;
    transition: .3s ease-out;
    padding: 30px;
    color: black;
}

.navbar{
    transition: .3s ease-out;
    padding: 30px;
}

.textBlack{
    cursor: pointer;
    color: black;
}