@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@1,500&display=swap');
.bg-header {
    background-color: white;
    position: fixed;
    width: 100%;
    transition: .3s ease-out;
    padding-top: 30px;
    color: black;
}

#judul-header{
    font-size:25px ;
}

.judul-header {
    font-family: 'Barlow', sans-serif;
}

.navbar {
    transition: .3s ease-out;
    padding: 30px;
}

.textBlack {
    cursor: pointer;
    color: black;
}